@font-face {
  font-family: 'GT-Super';
  src: url('/GT-Super/GT-Super-Text-Regular-Trial.otf') format('opentype');
  font-style: normal;
}

:root {
  --background: #006693;
  --light-grey: #f7f7f7;
  --beige-white: #e7e6dd;
  --black: #333;
  --steel-blue: #4682b4;
  --yellow: #e8c766;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'GT-Super', sans-serif;
  font-size: 16px;
}
